.container {
  display: grid;
  justify-items: center;
}

.container-post{
  display: grid;
  border-style: solid;
  border-color: #12a69f;
  border-width: 2px;
  width: 65%;
}

.superBlog{
  color: white;
  font: small-caps bold 1.8rem/1 sans-serif;
  align-content: center;
  margin-inline: 2.5%;
}

.tittle{
  color: white;
  font: 1.8rem "Fira Sans", sans-serif;
}

h2{
  font: small-caps bold 1.8rem/1 sans-serif;
}

p {
  text-align: center;
  font: caption;
  color: rgb(41, 41, 41);
}

.post {
  display: grid;
  justify-items: center;
  background-color: transparent;
}

.header {
  display: flex;
  background: #12a69f;
  box-shadow: 1px 1px 15px 0.1px rgba(18, 166, 159, 1);
}

.footer{
  display: flex;
  justify-content: start;
  background-color: #12a69f;
}

.footer p{
  margin-left: 2.5%;
  color: white;
  font-size: small;
}

